h1
{
color:rgb(103, 19, 43)
font-family: 'Oswald', sans-serif; ;
font-size: xx-large;
}
h2 
{
font-family: 'Josefin Sans', sans-serif;
font-size: x-large;
}

.curriculm_title
{
font-family:'Source Code Pro', monospace;
}
.4th_grade_paragraph
{
font-family: 'Righteous';
}
